/*********** Responsive ************/
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*********** Meta ************/
body {
    margin: 25px 150px 25px 150px;
    font-family: 'Roboto', sans-serif;
}

a:link {
    text-decoration: none;
}

a:active, a:hover {
    opacity: 0.7;
    color: inherit;
}


h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
}

h4 {
    font-size: 16px;
    padding: 0px;
    font-weight: normal;
}

h5 {
    font-size: 15px;
    font-weight:lighter;
    padding: 0px;
    margin: 0px;
}



/*********** HEADER ************/
header {
    font-size: 28px;
    letter-spacing: 4px;
    font-weight: bold;
    color: grey;
    padding-bottom: 0;
}

.nav {
    font-size: 12px;
    letter-spacing: 0.5px;
    height:100%;
    padding: 10px 0px 10px 10px;
    margin-right: 0;
}

.navimg {
    width: 16px;
    height: auto;
    margin-right: 3px;
}

/*********** Filter and ads************/
.ads {
    width: 100%;
    height: auto;
}

.filter {
    padding-bottom: 30px;
}

.subfilter {
    padding-bottom: 12px;
}

ul{
    padding: 15px;
    list-style-type: none;
}


.instaImg {
    width: 27px;
    height: auto;
}


/*********** Footer ************/
.newsletter {
    text-align: center;
    font-size: 22px;
    margin: 100px 0 40px 0;
    padding: 0px;
}

.footer {
    text-align: right;
    font-size: 9px;
    margin-top: 60px;
}




/*********** List header ************/
.results {
    color: grey;
    font-weight:lighter;
}

.custom-select{
  margin-left: 10px;
    padding: 8px 16px 8px 8px;
    font-size: 16px;
}


/************** List ***************/
.dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 5px;
}


.product {
    padding: 0px 85px 80px 0px;
}

.productName {
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    margin: 6px 0px 6px 0px;
}

.price {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    margin: 0px;
}

.listIcon {
    width: 18px;
    height: 18px;
    margin-left: 10px;
}

.pageNum {
    text-align: right;
    font-size: 16px;
    letter-spacing: 5px;
}

.currentPageNum {
    font-weight: bold;
    text-decoration: underline;
}



/************** Recently viewed ***************/
.borderline{
    margin: 80px 0 10px 0;
}

.sectionName {
    text-align: center;
}

.recentViewedPic {
    width: 100%;
    height: auto;
}

.recentViewed {
    padding: 0px 20px 0px 20px;
}

.newsletterLine {
    margin: 0 50px;
}



