/*********** Responsive ************/
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/*********** Meta ************/
body {
    margin: 3% 10%;
    font-family: 'Roboto', sans-serif;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:active,
a:hover {
    opacity: 0.7;
    color: rgba(0, 0, 0, 0.5);

}

a:visited {
    text-decoration: none;
    color: inherit;
}

.noPadMar {
    padding: 0;
    margin: 0;
}


h1 {
    font-size: 30px;
    letter-spacing: 1px;
}

h2 {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
}

h4 {
    font-size: 16px;
    padding: 0px;
    font-weight: normal;
}

h5 {
    font-size: 15px;
    font-weight: lighter;
    padding: 0px;
    margin: 0px;
}



/*********** HEADER ************/
header {
    font-size: 28px;
    letter-spacing: 4px;
    font-weight: bold;
    color: grey;
    padding-bottom: 0;
}

.nav {
    font-size: 12px;
    letter-spacing: 0.5px;
    height: 100%;
    padding: 10px 0px 10px 10px;
    margin-right: 0;
}

.navimg {
    width: 16px;
    height: auto;
    margin-right: 3px;
}

/*********** Filter and ads************/
.ads {
    width: 100%;
    height: auto;
}

.filter {
    padding-bottom: 30px;
}

.subfilter {
    padding-bottom: 12px;
}

ul {
    padding: 15px;
    list-style-type: none;
}


.instaImg {
    width: 27px;
    height: auto;
    padding-bottom: 10px;
}


/*********** Footer ************/
.newsletter {
    text-align: center;
    font-size: 22px;
    margin: 100px 0 40px 0;
    padding: 0px;
}

.footer {
    text-align: right;
    font-size: 9px;
    margin-top: 60px;
}




/*********** List header ************/
.results {
    color: grey;
    font-weight: lighter;
    margin-top: 20px;
}

.sort-select {
    margin-left: 10px;
    padding: 8px 16px 8px 8px;
    font-size: 16px;
}


/************** List ***************/
.dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 5px;
}


.product {
    padding: 0px 85px 80px 0px;
}

.productName {
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    margin: 6px 0px 6px 0px;
}

.price {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    margin: 0px;
}

.listIcon {
    width: 18px;
    height: 18px;
    margin-left: 10px;
}

.pageNum {
    text-align: right;
    font-size: 16px;
    letter-spacing: 5px;
}

.currentPageNum {
    font-weight: bold;
    text-decoration: underline;
}



/************** Recently viewed ***************/
.borderline {
    margin: 80px 0 10px 0;
}

.sectionName {
    text-align: center;
    margin: 20px 0 30px 0;
}

.recentViewedPic {
    width: 100%;
    height: auto;
}

.recentViewed {
    padding: 0px 20px 0px 20px;
}

.newsletterLine {
    margin: 0 50px;
}

/******** Reference for W3school **********/
/************** Slides show ***************/
.innerSlides {
    padding: 17px 0px;
}


/* Position the image container (needed to position the left and right arrows) */
img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: white;
    font-size: 15px;
    padding: 10px 16px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    opacity: 0.6;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.slidesCol {
    float: left;
    width: 25%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
    margin-top: 16px;
    padding: 0px 5px;
}

.active,
.demo:hover {
    opacity: 1;
}

/************** Product Details ***************/
.innerDetail {
    padding: 15px 0px 15px 65px;
}

.productTitle {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-right: 30px;
}

.reviewStars {
    width: 80%;
    float: right;
}

.numReviews {
    text-align: right;
    font-size: 14px;
    margin: 6px;
}

.productDescrip {
    font-size: 16px;
    margin-bottom: 25px;;
}


.buy-select {
    margin-left: 10px;
    /*margin-top: 20px;*/
    padding: 8px 10px 8px 4px;
    font-size: 16px;
}


.blackBtn {
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.actionButton {
    margin-top: 12px;
    font-size: 14px;
    margin-right: 14px;
    margin-left: 0px;
}

.innerDescrip {
    padding: 0px;
}

.descripDetail {
    font-size: 12px;
    line-height: 18px;
}


/************** Q&A ***************/
.QATitle {
    font-size: 16px;
    font-weight: bold;
    margin-left:0;
    margin-right: 20px;
    width: 10%;
}

.QATitleDiv {
    margin: 15px 15px 15px 0px;
    width: 100%;
    height: auto;
}

.QAID {
    text-align: right;
    float: right;
    color: grey;
    font-size: 14px;
}

.reviewBlock {
    margin: 25px 0 35px 0;
}

.viewMore {
    text-align: center;
    font-size: 16px;
    margin: 40px 0 20px 0;
}

.reviewContent {
    line-height: 26px;
}



























